<div class="container-fluid py-5" style="background-color:#402519;">
  <div class="row align-items-center">

    <div class="col-md-1 text-center">
    </div>

    <div class="col-md-5 ms-5 mt-4 mb-5" >
      <h2 class="fw-bold mb-4" style="font-family: Arial; color: rgb(168, 163, 161);">CERITA KAMI</h2>
      <p style="font-family: Arial; color: rgb(185, 185, 185); font-size: 14px;">
        Dimulai dari satu outlet kecil di depan satu minimarket di kota Surabaya, kami berkembang menjadi jaringan kedai
        kopi nasional dengan cabang tersebar di banyak kota di Indonesia.
      </p>
      <p class="mt-4" style="font-family: Arial; color: rgb(190, 186, 184); font-size: 14px;">
        Di tahun 2012, kami adalah pionir dan penggagas dalam gerakan bangga terhadap kopi Indonesia dengan kampanye
        "Yes I Drink Indonesian Coffee."
      </p>
      <p class="mt-4" style="font-family: Arial; color: rgb(190, 186, 184); font-size: 14px;">
        Di tahun 2017, kami mendapatkan Penghargaan Indonesia Franchise Award dari kementerian Perdagangan sebagai
        <span class="fw-bold">Pemenang Nasional.</span> Penghargaan ini serta diserahkan langsung oleh bapak Presiden RI
        Joko Widodo.
        <a href="#" class="fw-semibold" style="font-family: Arial; color: rgb(175, 169, 167);">Read more...</a>
      </p>
      <div class="mt-5">
        <a href="#" class="btn btn-warning me-2 text-white rounded-pill" style="font-size: 13px;">AWAL MULA</a>
        <a href="#" class="btn btn-warning text-white rounded-pill" style="font-size: 13px;">KAMPANYE</a>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <img src="{{ url_for('static', filename='img/cerita_kami.png') }}" class="img-fluid" alt="Cerita Kami">
    </div>

    <div class="col-md-1 text-center">
    </div>

  </div>
</div>